body{
    display: flex;
    flex-direction: column;
    margin: 100px;
}
.main{
    display: flex;
    justify-content: center;  
    align-content: center;
}
#container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin-left: 20px;
    border: 2px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
  }

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}
.head{
    display: flex;
    justify-content: center;
}
#size{
    display: flex;
    justify-content: center;
}